<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"

         version="4.0">
    <filter>
        <filter-name>LoggingFilter</filter-name>
        <filter-class>org.csu.mypetstore.Filter.LoggingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoggingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>


    <servlet>
        <servlet-name>signform</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.SignonFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signform</servlet-name>
        <url-pattern>/signonForm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewAccountServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.NewAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewAccountServlet</servlet-name>
        <url-pattern>/newAccount</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>codeservlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.CodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>codeservlet</servlet-name>
        <url-pattern>/codeImages</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignOutServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.SignOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignOutServlet</servlet-name>
        <url-pattern>/signOut</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>viewproduct</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.ViewCategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewproduct</servlet-name>
        <url-pattern>/ViewProduct</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewProductid</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.ViewProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewProductid</servlet-name>
        <url-pattern>/viewID</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewItem</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.ViewItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewItem</servlet-name>
        <url-pattern>/viewItem</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchProductsServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.SearchProductsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchProductsServlet</servlet-name>
        <url-pattern>/searchProducts</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.AddItemToCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <url-pattern>/addItemToCart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RemoveItemFormCartServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.RemoveItemFormCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveItemFormCartServlet</servlet-name>
        <url-pattern>/removeItemFormCart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewOrderFormServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.ViewOrderFormServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ViewOrderFormServlet</servlet-name>
        <url-pattern>/viewOrderForm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ConfirmOrderServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.ConfirmOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfirmOrderServlet</servlet-name>
        <url-pattern>/confirmOrder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ConfirmShipServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.ConfirmShipServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfirmShipServlet</servlet-name>
        <url-pattern>/confirmShip</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewMylogServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.ViewMylogServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewMylogServlet</servlet-name>
        <url-pattern>/viewMylog</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditAccountServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.EditAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditAccountServlet</servlet-name>
        <url-pattern>/editAccount</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ConfirmEditServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.ConfirmEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfirmEditServlet</servlet-name>
        <url-pattern>/confirmEdit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OrderListServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.OrderListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderListServlet</servlet-name>
        <url-pattern>/orderList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AutoComplementServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.AutoComplementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AutoComplementServlet</servlet-name>
        <url-pattern>/auto</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>usernameValidationServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.usernameValidationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>usernameValidationServlet</servlet-name>
    <url-pattern>/usernameValidation</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckPassword</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.CheckPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckPassword</servlet-name>
        <url-pattern>/CheckPassword</url-pattern>
    </servlet-mapping>
</web-app>